<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/function.js}"></script>
    <title>添加数据采集</title>
</head>
<body>

<form action="/detail/save" class="layui-form">
    <input id="id" name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label">目标网站</label>
        <div class="layui-input-block">
            <input class="layui-input" name="targetSiteName" placeholder="要采集的网站名称，名字也可以随便起"/>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">URL模板</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" name="url" placeholder="采集目标网页的URL地址,支持模板语法${}"></textarea>
        </div>
    </div>

    <!--        <div class="layui-form-item">
                <label class="layui-form-label">请求方式</label>
                <div class="layui-input-block">
                    <input th:name="method" th:value="${pachong.method}" class="layui-input"/>
                </div>
            </div>-->

    <div class="layui-form-item">
        <label class="layui-form-label">请求头</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" name="headers" placeholder="从浏览器中直接拷贝的请求头信息,只要拷贝几个关键的头信息即可"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">使用代理</label>
        <div class="layui-input-block">
            <input checked name="proxyFilePath" title="否" type="radio" value="0">
            <input name="proxyFilePath" title="是" type="radio" value="1">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">保存方式</label>
        <div class="layui-input-block">
            <input checked name="saveType" title="EXCEL" type="radio" value="EXCEL">
            <input name="saveType" title="TXT文件" type="radio" value="TXT">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">抓取内容</label>
        <div class="layui-input-block">
            <input class="extractUnit" name="extractUnit" type="hidden"/>
        </div>
    </div>
    <div class="points layui-form-item">
        <div class="extract-point">
            <div class="layui-inlin">
                <label class="layui-form-label">名称:</label>
                <div class="layui-input-inline">
                    <input class="name layui-input" placeholder="采集完定义的名称" type="text"/>
                </div>

                <label class="layui-form-label">选择器语法:</label>
                <div class="layui-input-inline">
                    <input class="selector layui-input" placeholder="对应的标签的selector" type="text">
                </div>

                <label class="layui-form-label">提取属性名:</label>
                <div class="layui-input-inline">
                    <input class="attrName layui-input" placeholder="若不需要提取标签属性，则不用填写" type="text" width="200px">
                </div>
                <div class="layui-inline">
                    <button class="add-btn layui-btn" onclick="addPoint();return false;">继续添加</button>
                    <button class="remove-btn layui-btn" onclick="removePoint(this);return false;">删除</button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-inline">
        <input class="layui-btn" onclick="preSave();" type="submit" value="保存"/>
    </div>
    <br>
</form>
<script>
    layui.use('form');
</script>
</body>
</html>