<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>爬虫插入/修改页面</title>
</head>
<body>
<!--详情/更新页-->
<div th:if="${pachong!=null}">
    详情/更新页
    <form>
        <label>id:</label><input id="id" th:value="${pachong.id}"/><br>
        <label>url:</label><input th:value="${pachong.url}"/><br>
        <label>method:</label><input th:value="${pachong.method}"/><br>
        <label>委托方:</label><input th:value="${pachong.weituofang}"/><br>
        <label>响应类型:</label><input th:value="${pachong.responseType}"/><br>
        <label>抓取点:</label><textarea th:text="${pachong.extractUnit}"></textarea><br>
        <a id="execute-btn" th:href=@{'/detail/execute?id='+${pachong['id']}}>执行爬虫</a>
        <br>
    </form>
</div>

<!--插入页面-->
<div th:if="${pachong==null}">
    插入页面
    <form>
        <label>id:</label><input name="id"/><br>
        <label>url:</label><input name="url"/><br>
        <label>method:</label><input name="method"/><br>
        <label>委托方:</label><input name="weituofang"/><br>
        <label>响应类型:</label><input name="responseType"/><br>
        <label>抓取点:</label><textarea name="extractUnit"></textarea><br>
        <br>
    </form>
</div>
<script type="text/javascript">

</script>
</body>
</html>