<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>爬虫插入/修改页面</title>
</head>
<body>
<!--详情/更新页-->
<div th:if="${pachong!=null}">
    详情/更新页
    <form action="/detail/save">
        <label>id:</label><input id="id" name="id" th:value="${pachong.id}"/><br>
        <label>url:</label><input th:name="url" th:value="${pachong.url}"/><br>
        <label>method:</label><input th:name="method" th:value="${pachong.method}"/><br>
        <label>委托方:</label><input name="weituofang" th:value="${pachong.weituofang}"/><br>
        <label>响应类型:</label><input name="responseType" th:value="${pachong.responseType}"/><br>
        <label>保存方式:</label><input name="saveType" th:value="${pachong.saveType}"/><br>
        <label>抓取单元:</label><textarea name="extractUnit" th:text="${pachong.extractUnit}"></textarea><br>
        <div class="extract-unit">
            <label>名称:</label><input type="text"/>
            <label>选择器语法:</label><input type="text"/>
            <label>是否是文本:</label><input type="text"/>
            <label>属性名称:</label><input type="text"/>
        </div>
        <a id="execute-btn" th:href=@{'/detail/execute?id='+${pachong['id']}}>执行爬虫</a>
        <input type="submit" value="保存"/>
        <br>
    </form>
</div>

<!--插入页面-->
<div th:if="${pachong==null}">
    插入页面
    <form action="/detail/save" class="save-form">
        <label>url:</label><input name="url"/><br>
        <label>method:</label><input name="method"/><br>
        <label>委托方:</label><input name="weituofang"/><br>
        <label>响应类型:</label><input name="responseType"/><br>
        <label>保存方式:</label><input name="saveType"/><br>
        <label>抓取单元:</label><input class="extractUnit" name="extractUnit" type="hidden"></input><br>
        <div class="points">
            <div class="extract-point">
                <label>名称:</label><input class="name" type="text"/>
                <label>选择器语法:</label><input class="selector" type="text"/>
                <label>是否是文本:</label><input class="labelType" type="text"/>
                <label>属性名称:</label><input class="attrName" type="text"/>
                <button class="add-btn" onclick="addPoint();return false;">继续添加</button>
            </div>
        </div>
        <input onclick="preSave();" type="submit" value="保存"/>
        <br>
    </form>
</div>
<script type="text/javascript">
    function preSave() {
        let extract_points = document.getElementsByClassName("extract-point");
        let points = [];
        for (let i = 0; i < extract_points.length; i++) {
            let point = document.getElementsByClassName("extract-point")[i];
            let name = point.getElementsByClassName("name")[0].value;
            let selector = point.getElementsByClassName("selector")[0].value;
            let labelType = point.getElementsByClassName("labelType")[0].value;
            let attrName = point.getElementsByClassName("attrName")[0].value;
            var pointJson = {
                name: name,
                selector: selector,
                labelType: labelType,
                attrName: attrName
            };
            points[i] = pointJson;
        }

        var extractUnit = {
            points: points
        };
        console.log(JSON.stringify(extractUnit));
        let unit = document.getElementsByClassName("extractUnit")[0];
        unit.value = JSON.stringify(extractUnit);

    }

    function addPoint() {
        let unitsEle = document.getElementsByClassName("points")[0];
        let unit_clone = document.getElementsByClassName("extract-point")[0].cloneNode(true);
        unitsEle.appendChild(unit_clone);
    }

</script>
</body>
</html>